/*Variables*/
$primaryColor: #833471;
$seconderyColor: #1289A7;
$fontColor: #3d3d3d;

$heding: 40px;
$screen-xs-min: 376px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

