/*Variables*/
nav {
  background-color: #833471;
  height: 10vh;
}

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  font-family: 'Chilanka', cursive;
}

nav .navbar-brand i {
  font-size: 30px;
  color: #fff;
}

nav .collapse {
  float: right;
}

nav .collapse a {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  height: 10vh;
  padding: 15px;
}

nav .collapse .nav-link {
  text-align: center;
  height: 10vh;
}

nav .collapse .nav-link:hover {
  background-color: #1289A7;
}

/*Variables*/
input.filter::-webkit-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}
input.filter:-ms-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}
input.filter::-ms-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}
input.filter::placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}

input.filter {
  font-family: [font family you want to specify];
}

textarea.filter::-webkit-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}

textarea.filter:-ms-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}

textarea.filter::-ms-input-placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}

textarea.filter::placeholder {
  font-family: fontAwesome;
  font-size: [size needed];
  color: [placeholder color needed];
}

textarea.filter {
  font-family: [font family you want to specify];
}

.main {
  margin-top: 30px;
}

.main .nav-tabs {
  text-decoration: none;
}

.main .nav-item a {
  color: #3d3d3d;
  font-size: 23px;
}

.tabs {
  border-left: 5px solid #1289A7;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3d3d3d;
  font-size: 35px;
}

.tabs ul li {
  padding: 0 0 0 10px;
}

#tabs-task, #tabs-notes, #tabs-bookmarker {
  padding: 0;
}

.btn-secondary {
  background-color: #1289A7;
  color: #fff;
  border: 0px;
}

.btn-secondary:hover {
  background-color: #833471;
  color: #fff;
}

.delete {
  background-color: #b71540;
  color: #fff;
  border: 0;
}

.delete:hover {
  color: #fff;
}

#task-list tr .text-tasks {
  font-size: 20px;
  color: #3d3d3d;
  padding-left: 20px;
}

td .delete {
  margin-top: 15px;
}

#titleNote h2 .btnNote {
  font-size: 20px;
  color: #3d3d3d;
  padding-left: 0;
}

#titleNote h2 .delete {
  margin-top: 25px;
}

.time {
  font-size: 12px;
}

#notes .card-body {
  font-size: 16px;
  color: #3d3d3d;
}

#bookmark-output {
  padding-left: 15px;
}

#bookmark-output ul {
  padding-left: 0;
}

#bookmark-output ul li {
  border-left: 5px solid #833471;
  color: #3d3d3d;
  font-size: 19px;
}

#bookmark-output ul .delete {
  margin-top: 15px;
}

#bookmark-output ul a {
  margin-top: 15px;
}

.navbarTop {
  background-color: #833471;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(61, 61, 61, 0.4);
          box-shadow: 0px 2px 7px 0px rgba(61, 61, 61, 0.4);
}

.navbarTop .navbarBtn {
  background-color: #1289A7;
  border-radius: 200px 200px 200px 200px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 10px 10px;
}

.burger {
  border: 2px solid #fff;
}

.burger span i {
  font-size: 30px;
}

.profile {
  width: 270px;
}

.profile .card-body p {
  font-size: 20px;
}

.profile .card-footer a {
  background-color: #833471;
  border: 1px solid #833471;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.profile .card-footer a:hover {
  background-color: #1289A7;
}

.user {
  padding: 20px 60px 60px 60px;
}

.userTitle {
  background-color: #1289A7;
  color: #fff;
  text-align: center;
}

.userTitle span {
  color: #fff;
}

/*Variables*/
body {
  margin: 0;
}

.register {
  background-image: url("../img/register.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register .card {
  margin-top: 10%;
  opacity: 0.9;
}

.register .btn {
  color: #fff;
  background-color: #1289A7;
}

.register .btn:hover {
  background-color: #833471;
}

.hero {
  margin-top: 10%;
  opacity: 0.8;
}

.hero .btn {
  background-color: #833471;
  color: #fff;
}

.hero a {
  text-decoration: none;
}

.hero a:hover {
  background: #1289A7;
}

.hero a:last-of-type {
  background-color: #1289A7;
  color: #fff;
}

.hero a:last-of-type:hover {
  background: #833471;
}

.card-title {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .card-title {
    font-size: 20px;
  }
}

.bg {
  background-image: url("../img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.note, .bookmark, .reminders {
  margin-top: 40px;
}

.note .card-title, .bookmark .card-title, .reminders .card-title {
  font-size: 40px;
}

footer .footer {
  background-image: url("../img/footer.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

footer .card-footer {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

footer .card-title {
  font-size: 50px;
  color: black;
  opacity: 0.9;
}

footer .card-text {
  color: black;
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */